{
    background: #f6f6f6
;
}
.page-header {
    background: #f6f6f6;
    border-color: #e9e9e9;
}

.table,
.panel,
hr {
    border-color: #e2e2e2;
}

.bordered {
    border-color: #e2e2e2;
}

.bordered[class*='bg-'],
[class*='bg-'] .border-t {
    border-color: #fff;
    border-color: rgba(0, 0, 0, 0.2);
}

.panel.panel-transparent > .panel-heading {
    border-bottom-color: #e2e2e2 !important;
}

.breadcrumb-page {
    background: #f6f6f6;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 6px;
    padding-top: 6px;
}

#main-navbar {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

#main-navbar .navbar-header {
    background: #ffffff;
}

#main-navbar .navbar-header a {
    color: #555555;
}

#main-navbar .navbar-brand {
    color: #555555;
}

#main-navbar .navbar-toggle,
#main-navbar #main-menu-toggle {
    color: #555555;
}

#main-navbar #main-menu-toggle {
    background: #f8f8f8;
}

#main-navbar #main-menu-toggle .fa:before {
    color: #555555;
}

#main-navbar .navbar-collapse {
    border-top: 1px solid #f1f1f1;
    background: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#main-navbar .dropdown > a,
#main-navbar .dropdown-menu > li > a,
#main-navbar .nav > li > a {
    color: #555555;
}

#main-navbar li + li,
#main-navbar .nav + .nav,
#main-navbar .nav + .right {
    border-top: 1px solid #f1f1f1;
}

#main-navbar .dropdown.open > a {
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #dfdfdf;
    margin-top: -1px;
    background: #f6f6f6;
    color: #555555;
}

#main-navbar form.navbar-form {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#main-navbar form.navbar-form .form-control {
    background: #f8f8f8;
    border: none;
    color: #999999;
}

#main-navbar form.navbar-form .form-control:focus {
    color: #555555;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    #main-navbar .navbar-header {
        background: #ffffff;
    }

    #main-navbar .navbar-collapse {
        background: #ffffff;
        border: none;
    }

    #main-navbar .navbar-collapse > div > .navbar-nav {
        border-left: 1px solid #f1f1f1;
    }

    #main-navbar .right > .navbar-nav > li {
        border-left: 1px solid #f1f1f1;
        border-right: none;
    }

    #main-navbar .navbar-nav > li {
        border-right: 1px solid #f1f1f1;
    }

    #main-navbar .navbar-nav > li > a {
        color: #555555;
    }

    #main-navbar .navbar-nav > li > a:hover,
    #main-navbar .navbar-nav > li.active > a,
    #main-navbar .navbar-nav > li.dropdown.open > a {
        background: #f8f8f8;
        border-top: none !important;
        border-bottom: none !important;
    }

    #main-navbar li + li,
    #main-navbar .nav + .nav,
    #main-navbar .nav + .right {
        border-top: none;
    }

    #main-navbar .dropdown.open > a {
        margin: 0;
        border-top: none;
    }

    #main-navbar .dropdown-menu {
        background: #ffffff;
        padding: 5px 0;
    }

    #main-navbar .dropdown-menu .divider {
        background-color: #f1f1f1;
    }

    #main-navbar .dropdown-menu > li > a {
        color: #555555;
    }

    #main-navbar .dropdown-menu > li > a:hover {
        background: #f1f1f1;
    }

    #main-navbar .widget-notifications a {
        color: !important;
    }

    #main-navbar .widget-notifications .notification,
    #main-navbar .widget-notifications .notifications-link {
        border-color: #f1f1f1;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    #main-navbar .widget-notifications .notification-description {
        color: #999;
    }

    #main-navbar .widget-notifications .notification-ago {
        color: #bbb;
    }

    #main-navbar .widget-notifications .notifications-link:hover {
        background: #f1f1f1;
    }

    #main-navbar .widget-messages-alt a {
        color: !important;
    }

    #main-navbar .widget-messages-alt .message,
    #main-navbar .widget-messages-alt .messages-link {
        border-color: #f1f1f1;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    #main-navbar .widget-messages-alt .message-subject {
        color: #555555 !important;
    }

    #main-navbar .widget-messages-alt .message-description {
        color: #aaa;
    }

    #main-navbar .widget-messages-alt .message-description a {
        color: #888;
    }

    #main-navbar .widget-messages-alt .messages-link:hover {
        background: #f1f1f1;
    }

    .theme-default.main-menu-right #main-navbar .navbar-header,
    .theme-default.mmc #main-navbar .navbar-header {
        background: #ffffff;
    }

    .theme-default.main-menu-right #main-navbar .navbar-header {
        border-right: 1px solid #f1f1f1;
    }
}

@media (min-width: 768px) {
    .theme-default.right-to-left #main-navbar .right > .navbar-nav > li {
        border-right: 1px solid #f1f1f1;
        border-left: none;
    }
}

#main-menu-bg {
    background-color: #23272d;
}

#main-menu .navigation a,
#main-menu .mmc-dropdown-open-ul a {
    color: #808b9c;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#main-menu .navigation a:after,
#main-menu .mmc-dropdown-open-ul a:after {
    content: "";
    top: 0;
    bottom: 0;
    width: 4px;
    position: absolute;
    right: auto;
    background: #1a7ab9;
    display: none;
    left: 0;
}

#main-menu .navigation a:hover,
#main-menu .mmc-dropdown-open-ul a:hover {
    color: #fff;
}

#main-menu .navigation a:hover:after,
#main-menu .mmc-dropdown-open-ul a:hover:after {
    display: block !important;
}

#main-menu li.active > a {
    background: #181b1f;
    color: #fff;
}

#main-menu li.active > a .menu-icon {
    color: #1d89cf;
}

#main-menu li.active > a:after {
    display: block;
}

#main-menu .mm-dropdown.active > a {
    background: none;
}

#main-menu .mm-dropdown.active > a:after {
    display: none;
}

#main-menu .mm-dropdown > ul,
#main-menu .mmc-dropdown-open-ul {
    background: #2a2e36;
}

#main-menu .mmc-dropdown-open-ul .mmc-title {
    background: #181b1f;
    color: #fff;
}

#main-menu .mmc-dropdown-open > a {
    background: #181b1f !important;
}

#main-menu .mmc-dropdown-open > a,
#main-menu .mmc-dropdown-open > a .menu-icon {
    color: #fff !important;
}

#main-menu .mmc-dropdown-open > a:hover:after {
    display: none !important;
}

#main-menu .menu-content {
    border-color: #2e333b;
}

#main-menu .menu-content .btn-outline {
    border-color: #2e333b;
    color: #808b9c;
}

#main-menu .menu-content .btn-outline:hover {
    color: #fff;
}

.mmc-dropdown-open .mm-dropdown.open > a,
.theme-default.mme #main-menu .mm-dropdown.open > a {
    color: #fff;
}

@media (min-width: 768px) {
    #main-menu .mm-dropdown.open > a {
        color: #fff;
    }

    .theme-default.mmc #main-menu .navigation > .mm-dropdown.open > a {
        color: #808b9c;
    }
}

.theme-default.right-to-left #main-menu .navigation a:after {
    left: auto;
    right: 0;
}

#main-navbar .navbar-brand div,
.demo-logo {
    background: #1d89cf;
}

#main-navbar .navbar-header a {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}

.theme-default.page-signin .signin-info,
.theme-default.page-signup .signup-header {
    background: #1d89cf;
    background: rgba(29, 137, 207, 0.8);
}

.timeline:before,
.timeline:after,
.tl-header,
.tl-icon {
    background: #dddddd;
}

.tl-header,
.tl-icon {
    box-shadow: 0 0 0 4px #f6f6f6;
}

.tl-entry:before {
    background: #1d89cf;
    box-shadow: 0 0 0 3px #f6f6f6;
}

.tl-body:before {
    border-color: transparent #e2e2e2 transparent transparent;
}

@media (min-width: 768px) {
    .timeline.centered .tl-entry.left .tl-body:before {
        border-color: transparent transparent transparent #e2e2e2;
    }

    .theme-default.right-to-left .timeline.centered .tl-entry.left .tl-body:before {
        border-color: transparent #e2e2e2 transparent transparent;
    }
}

.theme-default.right-to-left .tl-body:before {
    border-color: transparent transparent transparent #e2e2e2;
}

.theme-default.page-mail .mail-nav,
.theme-default.page-mail .mail-nav:before {
    background: #f6f6f6;
}

.theme-default.page-mail .mail-nav .sections li.active .label,
.theme-default.page-mail .mail-nav .sections li.active .badge {
    background: #1d89cf;
}

.theme-default.page-mail .mail-nav,
.theme-default.page-mail .mail-nav .compose-btn,
.theme-default.page-mail .mail-nav .sections li.active,
.theme-default.page-mail .mail-nav:before {
    border-color: #e2e2e2;
}

.theme-default.page-mail .mail-nav .navigation.open .sections li.active {
    background: #ececec;
}

.theme-default.page-mail .mail-nav li.divider {
    background: #e2e2e2;
}

.theme-default.page-mail .mail-nav .sections li.active a {
    color: #444444;
}

.theme-default.page-mail .mail-nav .sections li.active:after {
    color: #aaaaaa;
}

.theme-default.page-mail .mail-nav .sections a {
    color: #6a6a6a;
}

.theme-default.page-mail .mail-nav-header {
    color: #aaaaaa;
}

.theme-default.page-mail .mail-nav .add-more a {
    color: #aaaaaa;
}

@media (min-width: 992px) {
    .theme-default.page-mail .mail-nav .navigation .sections li.active {
        background: #ececec;
    }

    .theme-default.page-mail .mail-nav .sections a:hover {
        color: #444444;
    }
}

.nav-icon-btn.nav-icon-btn-primary .label {
    background: #1d89cf;
}

.btn-primary {
    color: #ffffff;
}

.btn-primary,
.btn-primary:focus {
    border-color: #1a7ab9;
    border-bottom-color: #16689e;
    background: #1d89cf;
    background-image: -webkit-linear-gradient(top, #1e8cd3 0%, #1a7ab9 100%);
    background-image: linear-gradient(to bottom, #1e8cd3 0%, #1a7ab9 100%);
    background-repeat: repeat-x;
}

.btn-primary:hover {
    color: #ffffff;
    border-color: #1871ab;
    border-bottom-color: #12547e;
    background: #1a7ab9 !important;
    background-image: -webkit-linear-gradient(top, #1c83c6 0%, #1871ab 100%) !important;
    background-image: linear-gradient(to bottom, #1c83c6 0%, #1871ab 100%) !important;
    background-repeat: repeat-x;
}

.btn-primary:active,
.btn-primary.active,
.open .btn-primary.dropdown-toggle {
    background: none;
    background: #1a7dbd !important;
    border-color: #146090;
    border-bottom-color: #146090 !important;
    color: #ffffff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) inset;
}

.btn-primary.btn-flat {
    background: #1b80c2;
}

.btn-primary.btn-flat:hover,
.btn-primary.btn-flat:active,
.btn-primary.btn-flat.active,
.open .btn-primary.btn-flat.dropdown-toggle {
    background: #1b80c2 !important;
    color: #ffffff;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline.btn-flat:hover {
    color: #ffffff;
    border-color: #1871ab;
    border-bottom-color: #12547e;
}

.btn-primary.btn-outline:active,
.btn-primary.btn-outline.btn-flat:active {
    border-color: #146090;
}

.btn-group .btn-primary,
.btn-group .btn-primary:focus,
.input-group-btn .btn-primary,
.input-group-btn .btn-primary:focus {
    border-left-color: #1871ab;
    border-right-color: #1871ab;
}

.btn-group .btn-primary:hover,
.btn-group.open .btn-primary.dropdown-toggle,
.input-group-btn .btn-primary:hover,
.input-group-btn.open .btn-primary.dropdown-toggle {
    border-color: #1871ab;
    border-bottom-color: #12547e;
}

.btn-group .btn-primary:active,
.btn-group .btn-primary.active,
.input-group-btn .btn-primary:active,
.input-group-btn .btn-primary.active {
    border-left-color: #146090;
    border-right-color: #146090;
}

.open .btn.btn-primary.dropdown-toggle {
    color: #fff;
    border-bottom-color: #146090 !important;
    background: none;
    background: #1a7dbd !important;
}

.progress-bar {
    background: #1d89cf;
    border-color: #1977b4;
}

.progress-striped .progress-bar {
    background-color: #1d89cf;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.1)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.75, rgba(255, 255, 255, 0.1)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-size: 10px 10px;
}

.label.label-primary {
    background: #1d89cf;
}

.label.label-primary[href]:hover,
.label.label-primary[href]:focus {
    background-color: #176ba2;
}

.label.label-primary.label-tag {
    border: 1px solid #1d89cf;
}

.label.label-primary.label-tag:before {
    border-color: transparent #1d89cf transparent transparent;
}

.label.label-primary.label-tag[href]:hover,
.label.label-primary.label-tag[href]:focus {
    border-color: #176ba2;
}

.label.label-primary.label-tag[href]:hover:before,
.label.label-primary.label-tag[href]:focus:before {
    border-color: transparent #176ba2 transparent transparent;
}

.right-to-left .label.label-primary.label-tag:before {
    border-color: transparent transparent transparent #1d89cf;
}

.right-to-left .label.label-primary.label-tag[href]:hover:before,
.right-to-left .label.label-primary.label-tag[href]:focus:before {
    border-color: transparent transparent transparent #176ba2;
}

.ie8 .right-to-left .label.label-primary.label-tag:before,
.ie9 .right-to-left .label.label-primary.label-tag:before {
    border-color: transparent #1d89cf transparent transparent;
}

.ie8 .right-to-left .label.label-primary.label-tag[href]:hover:before,
.ie8 .right-to-left .label.label-primary.label-tag[href]:focus:before,
.ie9 .right-to-left .label.label-primary.label-tag[href]:hover:before,
.ie9 .right-to-left .label.label-primary.label-tag[href]:focus:before {
    border-color: transparent #176ba2 transparent transparent;
}

.theme-default.right-to-left .label.label-primary.label-tag:before {
    border-color: transparent transparent transparent #1d89cf;
}

.theme-default.right-to-left .label.label-primary.label-tag:hover:before,
.theme-default.right-to-left .label.label-primary.label-tag:focus:before {
    border-color: transparent transparent transparent #176ba2;
}

.ie8 .theme-default.right-to-left .label.label-primary.label-tag:before,
.ie9 .theme-default.right-to-left .label.label-primary.label-tag:before {
    border-color: transparent #1d89cf transparent transparent;
}

.ie8 .theme-default.right-to-left .label.label-primary.label-tag:hover:before,
.ie8 .theme-default.right-to-left .label.label-primary.label-tag:focus:before,
.ie9 .theme-default.right-to-left .label.label-primary.label-tag:hover:before,
.ie9 .theme-default.right-to-left .label.label-primary.label-tag:focus:before {
    border-color: transparent #176ba2 transparent transparent;
}

.badge.badge-primary {
    background: #1d89cf;
    border: 1px solid #1d89cf;
}

.badge.badge-primary[href]:hover,
.badge.badge-primary[href]:focus {
    background-color: #176ba2;
    border-color: #176ba2;
}

.badge.badge-primary {
    background: #1d89cf;
    border: 1px solid #1d89cf;
}

.badge.badge-primary[href]:hover,
.badge.badge-primary[href]:focus {
    background-color: #176ba2;
    border-color: #176ba2;
}

.table-primary table {
    border-top-color: #23638c !important;
}

.table-primary thead,
.table-primary thead tr,
.table-primary thead th,
.table-primary .table-header {
    border-color: #23638c !important;
    color: #ffffff;
}

.table-primary thead tr,
.table-primary thead th {
    background: #2175ac;
}

.table-primary .table-header {
    background: #1d89cf;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background: #1d89cf;
    border-bottom: 2px solid #1a7ab9;
}

.nav-tabs .nav-tabs.nav-justified > .active > a {
    border-bottom-color: #1a7ab9;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background: #1d89cf;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li.active > a {
    background: #1d89cf;
}

.dropdown-menu > li > a:hover {
    color: #ffffff;
}

.btn-group .btn-primary,
.btn-group .btn-primary:focus,
.input-group-btn .btn-primary,
.input-group-btn .btn-primary:focus {
    border-left-color: #1871ab;
    border-right-color: #1871ab;
}

.btn-group .btn-primary:hover,
.btn-group.open .btn-primary.dropdown-toggle,
.input-group-btn .btn-primary:hover,
.input-group-btn.open .btn-primary.dropdown-toggle {
    border-color: #146090;
}

.btn-group .btn-primary:active,
.btn-group .btn-primary.active,
.input-group-btn .btn-primary:active,
.input-group-btn .btn-primary.active {
    border-left-color: #146090;
    border-right-color: #146090;
}

.pagination > li > a:hover {
    border-color: #1d89cf;
}

.pagination > li.active > a,
.pagination > li.active > a:hover,
.pagination > li.active > a:focus,
.pagination > li.active > span {
    background: #1d89cf;
    border-color: #1d89cf;
}

.pager li > a:hover {
    border-color: #1d89cf;
}

a.list-group-item.active {
    background: #1d89cf;
    border-color: #1d89cf;
}

a.list-group-item.active .list-group-item-text {
    color: #c2e2f6;
}

.form-control:focus,
.form-control.focus {
    border-color: #1d89cf;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gt-ie8 input.px:focus + .lbl:before,
.gt-ie8 input.px + .lbl:hover:before {
    border-color: #1d89cf;
}

.gt-ie8 input[type="checkbox"].px + .lbl:after {
    color: #1d89cf;
}

.gt-ie8 input[type="radio"].px + .lbl:after {
    background: #1d89cf;
}

.text-primary,
.text-primary:hover,
.text-primary:active,
.text-primary:focus,
.text-primary a,
.text-primary a:focus {
    color: #1d89cf;
}

.text-primary a:hover,
.text-primary a:active {
    color: #145d8c;
}

.bg-primary {
    background: #1d89cf !important;
}

.bg-primary[href]:hover {
    background: #227fbb !important;
}

.bg-primary.darken {
    background: #227fbb !important;
}

.bg-primary.darken[href]:hover {
    background: #1f76ae !important;
}

.bg-primary.darker {
    background: #1f76ae !important;
}

.bg-primary.darker[href]:hover {
    background: #1d6da1 !important;
}

.bg-primary,
.bg-primary:hover,
.bg-primary:active,
.bg-primary:focus,
.bg-primary a,
.bg-primary a:focus {
    color: #ffffff;
}

.bg-primary a:hover,
.bg-primary a:active {
    color: #d9d9d9;
}

.bg-primary[href]:hover,
.bg-primary [href]:hover {
    color: #fff;
}

.bg-primary * {
    border-color: #2e9be2;
}

.ui-slider-handle.ui-state-active:before {
    background: #1d89cf;
}

.ui-slider-range {
    background: #1d89cf;
}

.ui-autocomplete > li > a:hover,
.ui-autocompletev > li.active > a {
    background: #1d89cf;
}

.ui-autocomplete > li > a:hover {
    color: #ffffff;
}

.ui-autocomplete .ui-state-focus {
    background: #1d89cf;
    color: #ffffff;
}

.ui-menu .ui-menu-item a:hover,
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
    background: #1d89cf;
}

.ui-progressbar-value {
    background: #1d89cf;
    border-color: #1977b4;
    background-color: #1d89cf;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.1)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.75, rgba(255, 255, 255, 0.1)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-size: 10px 10px;
}

.ui-tabs-nav > .ui-tabs-active > a,
.ui-tabs-nav > .ui-tabs-active > a:hover,
.ui-tabs-nav > .ui-tabs-active > a:focus {
    color: #fff;
    background: #1d89cf;
    border-bottom: 2px solid #1a7ab9;
}

.ui-datepicker .ui-state-active {
    background: #1d89cf !important;
}

.ui-datepicker th {
    background: #2f76a4;
}

.ui-datepicker-buttonpane button.ui-priority-primary {
    color: #ffffff;
}

.ui-datepicker-buttonpane button.ui-priority-primary,
.ui-datepicker-buttonpane button.ui-priority-primary:focus {
    border-color: #1a7ab9;
    border-bottom-color: #16689e;
    background: #1d89cf;
    background-image: -webkit-linear-gradient(top, #1e8cd3 0%, #1a7ab9 100%);
    background-image: linear-gradient(to bottom, #1e8cd3 0%, #1a7ab9 100%);
    background-repeat: repeat-x;
}

.ui-datepicker-buttonpane button.ui-priority-primary:hover {
    color: #ffffff;
    border-color: #1871ab;
    border-bottom-color: #12547e;
    background: #1a7ab9 !important;
    background-image: -webkit-linear-gradient(top, #1c83c6 0%, #1871ab 100%) !important;
    background-image: linear-gradient(to bottom, #1c83c6 0%, #1871ab 100%) !important;
    background-repeat: repeat-x;
}

.ui-datepicker-buttonpane button.ui-priority-primary:active,
.ui-datepicker-buttonpane button.ui-priority-primary.active,
.open .ui-datepicker-buttonpane button.ui-priority-primary.dropdown-toggle {
    background: none;
    background: #1a7dbd !important;
    border-color: #146090;
    border-bottom-color: #146090 !important;
    color: #ffffff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) inset;
}

.ui-datepicker-buttonpane button.ui-priority-primary.btn-flat {
    background: #1b80c2;
}

.ui-datepicker-buttonpane button.ui-priority-primary.btn-flat:hover,
.ui-datepicker-buttonpane button.ui-priority-primary.btn-flat:active,
.ui-datepicker-buttonpane button.ui-priority-primary.btn-flat.active,
.open .ui-datepicker-buttonpane button.ui-priority-primary.btn-flat.dropdown-toggle {
    background: #1b80c2 !important;
    color: #ffffff;
}

.ui-datepicker-buttonpane button.ui-priority-primary.btn-outline:hover,
.ui-datepicker-buttonpane button.ui-priority-primary.btn-outline.btn-flat:hover {
    color: #ffffff;
    border-color: #1871ab;
    border-bottom-color: #12547e;
}

.ui-datepicker-buttonpane button.ui-priority-primary.btn-outline:active,
.ui-datepicker-buttonpane button.ui-priority-primary.btn-outline.btn-flat:active {
    border-color: #146090;
}

.btn-group .ui-datepicker-buttonpane button.ui-priority-primary,
.btn-group .ui-datepicker-buttonpane button.ui-priority-primary:focus,
.input-group-btn .ui-datepicker-buttonpane button.ui-priority-primary,
.input-group-btn .ui-datepicker-buttonpane button.ui-priority-primary:focus {
    border-left-color: #1871ab;
    border-right-color: #1871ab;
}

.btn-group .ui-datepicker-buttonpane button.ui-priority-primary:hover,
.btn-group.open .ui-datepicker-buttonpane button.ui-priority-primary.dropdown-toggle,
.input-group-btn .ui-datepicker-buttonpane button.ui-priority-primary:hover,
.input-group-btn.open .ui-datepicker-buttonpane button.ui-priority-primary.dropdown-toggle {
    border-color: #1871ab;
    border-bottom-color: #12547e;
}

.btn-group .ui-datepicker-buttonpane button.ui-priority-primary:active,
.btn-group .ui-datepicker-buttonpane button.ui-priority-primary.active,
.input-group-btn .ui-datepicker-buttonpane button.ui-priority-primary:active,
.input-group-btn .ui-datepicker-buttonpane button.ui-priority-primary.active {
    border-left-color: #146090;
    border-right-color: #146090;
}

.select2-drop-active,
.select2-container-multi.select2-container-active .select2-choices,
.select2-container-multi.select2-dropdown-open .select2-choices {
    border: 1px solid #1d89cf;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #1d89cf;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #1d89cf;
}

.select2-dropdown-open .select2-drop-above .select2-choice,
.select2-dropdown-open .select2-drop-above .select2-choices {
    border: 1px solid #1d89cf;
    border-top-color: #aaa;
}

.select2-results .select2-highlighted {
    background: #1d89cf;
}

.select2-primary .select2-container-multi .select2-choices .select2-search-choice {
    background: #1d89cf;
}

.select2-primary .select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #176ba2;
}

.select2-primary .select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    background: #1d89cf !important;
}

.switcher-primary .switcher-state-on {
    background: #1d89cf !important;
}

.pixel-file-input:hover {
    border-color: #1d89cf;
}

.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
    background: #1d89cf;
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background: #1d89cf;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
    background: #1d89cf;
}

.datepicker thead tr {
    background: #2f76a4;
}

.datepicker thead tr:first-child {
    background: #1d89cf !important;
    border-bottom-color: #30607f !important;
}

.datepicker thead th.prev,
.datepicker thead th.next {
    background: #1d89cf;
}

.datepicker thead th.prev {
    border-color: #30607f;
}

.datepicker thead th.next {
    border-color: #30607f;
}

.datepicker > .datepicker-days thead tr:first-child th.cw + .prev {
    border-color: #30607f;
}

.datepicker > .datepicker-days thead tr:last-child th.cw + th {
    border-color: #30607f;
}

.bootstrap-timepicker-widget table td a:hover {
    background: #1d89cf;
    border-color: #1d89cf;
}

.pagination a.dp-today,
.pagination a.dp-today:hover {
    background: #3ba1e4;
    border-color: #2597e0;
}

.pagination a.dp-today:hover {
    border-color: #1d89cf !important;
}

.pagination a.dp-selected {
    background: #1d89cf !important;
    border-color: #1d89cf !important;
}

.tt-suggestion.tt-is-under-cursor {
    background: #1d89cf;
}

.table-primary .dataTables_wrapper .DT-per-page {
    border-color: #23638c !important;
}

.dropzone-box.dz-drag-hover {
    border-color: #1d89cf;
}

.dropzone-box:hover .fa.fa-cloud-upload {
    background: #1d89cf;
}

.md-editor.active {
    border-color: #1d89cf;
}

.widget-rating .active a {
    color: #1d89cf;
}
